name: Test docs deployment

on:
  # runs on PR to main branch
  push:
    branches: ["!main"]
  pull_request:
    branches: [main]
jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 21.x
          cache: npm
      - name: Install Bluehawk dependencies
        run: |
          npm ci
      - name: Test build
        working-directory: docs
        run: |
          npm ci
          npm run build
